.lodging-main {
    margin-left: 6.5em;
    margin-right: 6.5em;

}

.lodging-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 425px) {
.lodging-main {
    width: auto;
    padding: 20px;
    margin: 0;
}
}

/** -------------------- CAROUSSEL -------------------- */
.caroussel {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.lodg-photo {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.chevronPrev, .chevronNext {
    position: absolute;
    height: 80px;
    width: 60px;
    top: 346px;
    cursor: pointer;
}

.chevronPrev {
    left: 123px;
}

.chevronNext {
    right: 123px;
}

.chevronNone {
    display: none;
}

@media screen and (max-width: 425px) {
    .lodging-photo {
        height: 255px;
    }

    .chevronPrev, .chevronNext {
        height: 25px;
        width: 15px;
    }

    .chevronPrev {
        position: absolute;
        left: 123px;
        top: 346px;
    }


    }


/** -------------------- TITLE et HOST-------------------- */
.lodging-title-host {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lodgTitle-container {
    color: #FF6060;
    letter-spacing: 0em;
    text-align: left;
}

.lodg-title {
    font-size: 36px;
    line-height: 51px;
    font-weight:lighter;
    margin: 2px;
    margin-top: 30px;
}

.lodgHost-container {
    display: flex;
    align-items: center;
}

.lodgHost-picture {
    border-radius: 50%;
    height: 64px;
}

.lodgHost-name {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    width: 90px;
    margin-right: 10px;
}

@media screen and (max-width: 425px) {

    .lodging-title-host {
        display: block;
    }
    .lodg-title {
        font-size: 18px;
        font-weight:500;
        line-height: 25px;
    }
}


/** -------------------- LOCATION -------------------- */
.lodg-location {
    color: #FF6060;
    font-size: 18px;
    line-height: 26px;
    font-weight:lighter;
    margin: 0;
    position: relative;
}

@media screen and (max-width: 425px) {
    .lodg-location {
        font-size: 14px;
        font-weight:500;
        line-height: 20px;
        
    }
}


/** -------------------- DROPDOWN -------------------- */
.dropdown-lodg {   
  width: 100%;
  display: flex;
  column-gap: 60px;
  padding-bottom: 80px;
  justify-content: space-between;
}

.lodg-dropdown {
    width: 50%;
}

.lodg-dropdown-container {
    height: 47px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    margin-bottom: 31px;
    
}    

.lodg-dropdown-title {
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}
    
.lodg-dropdown-content {
    max-width: 582px;
    background-color: #f7f7f7;
    color: #FF6060;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -38px;
    padding: 40px 20px;
    border-radius: 5px;
    list-style-type: none;
    margin-inline: auto;
    margin-bottom: 31px;
}

.chevron {
    width: 24px;
    height: 14px;
    cursor: pointer;
}

@media screen and (max-width: 425px) {

    .dropdown-lodg {   
        display: block;

      }

      .lodg-dropdown {
        width: 100%; 
    }  

    .lodg-dropdown-title {        
        font-size: 13px;
        line-height: 19px;
    }

    .lodg-dropdown-container {
        height: 30px;
        margin-bottom: 25px;
        
    }    

    .lodg-dropdown-content {
        font-size: 12px;
        line-height: 17px;
    }
}


/** -------------------- STARS et TAGS-------------------- */
.lodging-tags-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lodg-tags {
    display: flex;
}

.tags {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF6060;
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin: 20px 10px 24px 0;
    width: max-content;
    padding: 2px 20px;
    height: 25px;
    border-radius: 10px;
  }

  .stars {
    height: 30px;
  }

  @media screen and (max-width: 425px) {
    .lodging-tags-stars {
        flex-direction: column;
        align-items: flex-start;
    }

    .tags {
        font-size: 10px;
        line-height: 14px;
        height: 18px;   
    }

    .stars {
        height: 20px;
        padding-left: 5px;
        margin-bottom: 25px;
    }

}